<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Login</title>
</head>

<body>
    <h2 class="title">Login</h2>
    <div class="main-body">
        <form action="login" method="post" accept-charset="utf-8" onsubmit="return jsMd5();" enctype="multipart/form-data">
            <table >
            <tr>
            <td>Student Id</td>
            <td><input id="sid" title="sid" name="sid" type="text" value=""/></td>
            </tr>
            <tr>
            <td>Password</td>
            <td><input id="pwd" title="pwd" name="pwd" type="password" value=""/></td>
            </tr>
            </table>
            <p><input type="submit" value="submit"/></p>
        </form>
        <br><span>Your first login is a registration.</span>
    </div>
    <script src="static/lib/md5.js"> </script>
    <script>
    function jsMd5(){
        var sid = document.getElementById("sid");
        var pwd = document.getElementById("pwd");
        if(pwd.value == "" || sid.value == "") {
            alert("Student id and password should not be empty!")
            return false;
        }
        pwd.value = md5(pwd.value);
        return true;
    }
	</script>
</body>

</html>