<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/index.css">
    <title>Login</title>
</head>
<style>
    form {
        align: center;
    }
</style>
<body>
    <h2 class="title">Login</h2>
    <div class="divbody">
        <form action="login" method="post" accept-charset="utf-8" onsubmit="return jsMd5();">
            <center>
            <table class="login" style="border-collapse:separate; border-spacing:10px 10px;">
            <tr>
            <td>Student Id:</td>
            <td><input id="sid" title="sid" name="sid" type="text" value=""/></td>
            </tr>
            <tr>
            <td>Password:</td>
            <td><input id="pwd" title="pwd" name="pwd" type="password" value=""/></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input type="submit" value="submit" /></td>
            </tr>
            <tr><td colspan="2"><span>Your first login is a registration.</span></td></tr>
            </table>
            </center>
        </form>

    </div>
    <script src="static/lib/md5.js"> </script>
    <script>
    function jsMd5(){
        var sid = document.getElementById("sid");
        var pwd = document.getElementById("pwd");
        if(pwd.value == "" || sid.value == "") {
            alert("Student id and password should not be empty!")
            return false;
        }
        pwd.value = md5(pwd.value);
        return true;
    }
	</script>
</body>

</html>