<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
    <form action="resetpwd" method="post" accept-charset="utf-8"  onsubmit="return jsMd5();" >
            <center>
            <table class="login" style="border-collapse:separate; border-spacing:10px 10px;">
            <tr>
                <td>Student Id:</td>
                <td><input id="sid" title="sid" name="sid" type="text" value=""/></td>
                <td><input type="button" id="send" value="send verification"/></td>
            </tr>
            <tr>
                <td>Verify Code:</td>
                <td><input id="verify_code" title="verify_code" name="verify_code" type="text" value=""/></td>
            </tr>
             <tr>
                <td>Password:</td>
                <td><input id="newpwd" title="newpwd" name="newpwd" type="password" value=""/></td>
            </tr>
            <tr>
                <td colspan="2" align="right"><input id='submit' type="submit" value="submit" data-error="{{error}}"/></td>
            </tr>
            </table>
            </center>
        </form>
    <script src="static/js/md5.js"> </script>
    <script src="static/js/jquery.js"></script>

    <script>
        $('#send').click(function () {
            $.post('send_email', {'sid': $('#sid').val()}, function (data) {
                $(this).removeAttr("disabled");
                alert(data);
            });
            $(this).attr('disabled', 'disabled');
        });

        $(document).ready(function() {
           if($('#submit').data('error'))
          alert($('#submit').data('error'));
       });

    function jsMd5(){
        if(!$('#sid').val() || !$('#newpwd').val() || !$('#verify_code').val()) {
            alert("Something empty!");
            return false;
        }
        $('#newpwd').val(md5($('#newpwd').val()));
        return true;
    }
	</script>
</body>
</html>